/* HERO */
.contentWrapper {
  background: linear-gradient(69.35deg, rgba(0, 0, 0, 0.1)0%, rgba(0, 0, 0, 0.1) 99.45%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/banner.jpg") no-repeat center;
  height: 700px;
  background-size: cover;
  text-align: center;
  padding-top: 15%;
}

.contentHero {
  color: #030303;
  font-size: calc(1.42rem + 2.1vw);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1.12;
  letter-spacing: -.01rem;
  color: #fff;
}

.contentHero>p:nth-child(2) {
  text-align: center;
  position: relative;
}

.contentHero>p:nth-child(2)>span::after {
  background-image: url("/download.svg");
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 52%;
  bottom: -0.3em;
  width: 13%;
  height: 0.3em;
  color: #fff;
}

.subHero {
  margin-top: 35px;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.subHero>p:nth-child(2) {
  margin-top: -10px;
}

/* BUTTON */
.orangeButton {
  background-color: #f78b77;
  color: #f3f3f3;
  text-transform: capitalize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 1rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 20px;
  transform: translateY(0);
  transition: all .3s ease-in-out;
}

.buttonAnime>a {
  text-decoration: none !important;
}

.orangeButton:hover {
  transform: translateY(-0.15rem);
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  transition: all .3s ease-in-out;
}

.buttonContainer {
  margin-bottom: 10%;
}

.buttonContainer>a {
  text-decoration: none;
}

/* LEFT AND RIGHT SECTION */
.leftCont,
.rightCont {
  padding: 30px 0px;
  width: 100%;
}

.leftCont {
  background-color: #030303;
}

.rightCont {
  background-color: #fff;
  padding: 30px;
}

.rightCont>p:nth-child(1) {
  font-size: 30px;
  line-height: 33px;
  font-family: "Roboto", sans-serif;
}

.rightCont>p:nth-child(2) {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: #969AA6;
}

.block {
  display: block;
  color: #fff;

}

.block>p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 49px;
  display: flex;
  justify-content: center;
}

.block>p:nth-child(2) {
  font-size: 0.86667rem;
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

/* ABOUT US */
.AboutWrapper {
  margin-top: 10%;
}

.Atitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #f78b77;
}

.title {
  margin-top: 10%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #354053;
}

.title>p:nth-child(2) {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  color: #354053;
  line-height: 30px;
}

.imageOne,
.imageTwo,
.imageThree {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 0.4rem;
}

.imageOne {
  background-image: url('/img3.jpg');
}

.imageTwo {
  background-image: url('/img6.jpg');
}

.imageThree {
  background-image: url('/img2.jpg');
}

/* COMMUNITY */
.communityContent{
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.communityContent>p:nth-child(1){
 
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .02rem;
}
.communityContent>p:nth-child(2){
  font-family: "Nunito", sans-serif;
  font-size: calc(1.315rem + 0.78vw);
  font-weight: 600;
  letter-spacing: .02rem;
}
.communityContent>p:nth-child(3){
  font-family: "Nunito", sans-serif;
  font-size: calc(1.315rem + 0.78vw);
  font-weight: 600;
  letter-spacing: .02rem;
  margin-top: -2%;
}
.comButton{
  display: flex;
  justify-content: center;
}
.comButton>a{
  text-decoration: none;
}
.communityWrapper {
  position: relative;
  background: linear-gradient(69.35deg, rgba(0, 0, 0, 0.1)0%, rgba(0, 0, 0, 0.1) 99.45%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/community.jpg") no-repeat 10% -130%;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 10%;
}

/* Mobile and Tablet */
@media (max-width: 1024px) {
  .contentWrapper{
    height: 500px;
  }
  .subHero {
    font-size: calc(1.02rem + 1.8vw);
  }
  .rightCont>p:nth-child(1) {
    font-size: 20px;
    text-align: center;
  }

  .rightCont>p:nth-child(2) {
    font-size: 12px;
    text-align: center;
  }

  .Atitle {
    text-align: center;
  }

  .titleOne {
    text-align: center;
  }

  .titleOne>p:nth-child(2) {
    text-align: center;
  }
  .communityContent>p:nth-child(1){
    padding-top: 10%;
  }
  .communityContent>p:nth-child(2){
    font-size: calc(0.915rem + 1.78vw);
  }
  .communityContent>p:nth-child(3){
    font-size: calc(0.915rem + 1.78vw);
  }
  .comButton{
    display: flex;
    justify-content: center;
  }
}

@media(max-width: 768px) {

  .imageOne,
  .imageTwo,
  .imageThree {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {}