/* HERO */
.contentWrapper {
  text-align: center;
  height: 400px;
  margin-top: 10%;
}

.contentHero {
  color: #030303;
  font-size: calc(1.42rem + 2.1vw);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1.12;
  letter-spacing: -.01rem;
  color: #354053;
}

.contentHero>p:nth-child(2) {
  text-align: center;
  position: relative;
}

.contentHero>p:nth-child(2)>span::after {
  background-image: url("/download.svg");
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 52%;
  bottom: -0.3em;
  width: 13%;
  height: 0.3em;
  color: #354053;
}

.subHero {
  margin-top: 35px;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  color: #616A7C;
}

.subHero>p:nth-child(2) {
  margin-top: -10px;
}

/* BUTTON */
.orangeButton {
  background-color: #f78b77;
  color: #f3f3f3;
  text-transform: capitalize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 1rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 20px;
  transform: translateY(0);
  transition: all .3s ease-in-out;
}

.buttonAnime>a {
  text-decoration: none !important;
}

.orangeButton:hover {
  transform: translateY(-0.15rem);
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  transition: all .3s ease-in-out;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {}

@media (prefers-color-scheme: dark) {}